{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="row justify-content-center m60">
    <div class="password-action col-md-8 p-0 m60">
        <h2 class="py-5">{% trans "Password Reset" %}</h2>
        {% if user.is_authenticated %}
        <div class="pb-3">{% include "account/snippets/already_logged_in.html" %}</div>
        {% endif %}

        <h6>{% trans "We have sent you an e-mail. Please contact us if you do not receive it within a few minutes." %}</h6>
        <span class="strong highlight">chatterbox4921@gmail.com</span>
    </div>
</div>
{% endblock %}