{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="row justify-content-center m60">
    <div class="password-action col-md-8 p-0 m60">
        <h2 class="py-5">{% trans "Change Password" %} 완료</h2>
        <h6>{% trans 'Your password is now changed.' %}</h6>
        <h6>변경하신 새로운 비밀번호로 로그인해주세요.</h6>

        <a href="/member/login">
            <h4 class="btn btn-line my-4">로그인하러 가기</h4>
        </a>
    </div>
</div>
{% endblock %}