{% extends 'base.html' %}
{% load static %}

{% block title %}User Log{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{% static 'css/member/my_page.css' %}">
<link rel="stylesheet" href="{% static 'css/member/log.css' %}">
<link rel="stylesheet" href="{% static 'css/post/post_list.css' %}">
{% endblock %}

{% block content %}
<nav class="lnb navbar">
    <div class="container">
        <a href="javascript:history.back()">
            <img class="nav-icon" src="{% static '/img/icons/back.png' %}" />
            <span class="highlight">MY PAGE</span>
        </a>
        <h3>활동 로그</h3>
        <ul class="navbar-nav flex-row"></ul>
    </div>
</nav>

<div class="row justify-content-center">
    <div class="col-md-7 p-0 mypage">
        <h2>My Page</h2>
        <div class="info-area">
            {% if user.bio %}
            <h6>{{ user.bio }}</h6>
            {% else %}
            <h6>자기소개가 비어있습니다.<br />간단하게 프로필을 작성해보아요!</h6>
            {% endif %}
            <a class="btn btn-gray" href="{% url 'member:logout' %}">LOG OUT</a>
        </div>

        <div class="mypage-body">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item"><a class="tab-link" href="{% url 'member:my_page' %}">
                        <h5>프로필</h5>
                    </a></li>
                <li class="nav-item"><a class="tab-link active" href="#">
                        <h5>활동로그</h5>
                    </a></li>
                <li class="nav-item"><a class="tab-link" href="{% url 'member:contact' %}">
                        <h5>문의하기</h5>
                    </a></li>
            </ul>

            <div class="tab-pane" id="pills-log">
                <div class="mypage-header">
                    <h3>사람들과 소통한 기록 보기</h3>
                    <h6>채터박스를 만들거나 공유하거나<br />의견을 내거나 공감을 누르거나 했던<br />모든 활동을 볼 수 있어요.</h6>
                </div>

                <div class="form-group">
                    <select class="form-control sort-select" onchange="location = this.value;" name="?sort={{ sort }}">
                        <option value="?sort=all_log">모든 활동 보기</option>
                        <option value="?sort=my_posts">내가 만든 채터박스 보기</option>
                        <option value="?sort=my_comments">직접 남긴 의견 보기</option>
                        <option value="?sort=like_hate">추천/비추천한 의견 보기</option>
                    </select>
                </div>

                <div class="load-log">
                    {% if log_sorted %}
                    {% for log in log_sorted reversed %}
                    {% if log in posts_log %}
                    <div class="m60">
                        <div class="log-header">
                            <h3>채터박스를 만들었어요</h3>
                            <p>{{ log.natural_time }}</p>
                        </div>
                        <div class="log-body">
                            <label>Main Title</label>
                            <a href="{% url 'post:post_detail' post_pk=log.pk %}">
                                <h5>{{ log.title|truncatechars:40 }}</h5>
                            </a>
                            <label>Background</label>
                            <div class="background">
                                <a href="{% url 'post:post_detail' post_pk=log.pk %}">
                                    <h6>{{ log.background|safe|truncatechars:160 }}</h6>
                                </a>
                            </div>
                        </div>
                        <!-- <form class="btn-wrap row p-0" action="{% url 'post:post_delete' log.pk %}" method="post">
                                {% csrf_token %}
                                <div class="col-6"><a class="btn btn-fill btn-full" href="{% url 'post:post_update' log.pk %}">수정하기</a></div>
                                <div class="col-6"><input class="btn btn-gray btn-full" type="submit" value="삭제하기" onclick="return confirm('정말로 삭제할까요? \n\n게시물을 삭제하시면 해당 게시물의 \n모든 이력도 초기화 됩니다.')"></div>
                            </form> -->
                    </div>
                    {% endif %}
                    {% if log in comments_sorted %}
                    <div class="m60">
                        <div class="log-header">
                            <h3>직접 의견을 남겼어요</h3>
                            <p>{{ log.natural_time }}</p>
                        </div>
                        <div class="log-body">
                            <label>Main Title</label>
                            <a href="{% url 'post:post_detail' post_pk=log.post.pk %}">
                                <h5>{{ log.post.title }}</h5>
                                {% if log in comments_pro %}
                                <div class="post-title pro">
                                    {{ log.post.pro_title }}
                                </div>
                                {% endif %}
                                {% if log in comments_con %}
                                <div class="post-title con">
                                    {{ log.post.con_title }}
                                </div>
                                {% endif %}
                            </a>
                            <div class="background">
                                <div class="comment-header">
                                    {% if log.author.profile_image %}
                                    <img src="/media/{{ log.author.profile_image }}" alt="">
                                    {% else %}
                                    <img src="/media/default/user.png" alt="">
                                    {% endif %}
                                    <h6>{{ log.author }}<br /><span>{{ log.created_at }}</span></h6>
                                </div>
                                <h6>{{ log.content }}</h6>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if log in lh_sorted %}
                    <div class="m60">
                        <div class="log-header">
                            <h3>의견을
                                {% if log in likes_pro or log in likes_con %}
                                추천했어요
                                {% endif %}
                                {% if log in hates_pro or log in hates_con %}
                                비추천했어요
                                {% endif %}
                            </h3>
                            <p>{{ log.natural_time }}</p>
                        </div>
                        <div class="log-body">
                            <label>Main Title</label>
                            <a href="{% url 'post:post_detail' post_pk=log.post.pk %}">
                                <h5>{{ log.post.title }}</h5>
                                {% if log in likes_pro or log in hates_pro %}
                                <div class="post-title pro">
                                    {{ log.post.pro_title }}
                                </div>
                                {% endif %}
                                {% if log in likes_con or log in hates_con %}
                                <div class="post-title con">
                                    {{ log.post.con_title }}
                                </div>
                                {% endif %}
                            </a>
                            <div class="background">
                                <div class="comment-header">
                                    {% if log.author.profile_image %}
                                    <img src="/media/{{ log.author.profile_image }}" alt="">
                                    {% else %}
                                    <img src="/media/default/user.png" alt="">
                                    {% endif %}
                                    <h6>{{ log.author }}<br /><span>{{ log.created_at }}</span></h6>
                                </div>
                                <h6>{{ log.content }}</h6>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <div class="empty">
                        <h3>활동 이력이 없습니다</h3>
                        <img src="{% static '/img/time-empty.png' %}" />
                        <p>채터박스에서 의견을 추천 또는 비추천하거나 <br />글을 남기는 등의 모든 활동 내역이 자동으로 표시됩니다.</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customJS %}
<script type="text/javascript">
    $(document).ready(function () {
        var sort = $('.sort-select').attr('name');
        $('.sort-select option[value="' + sort + '"]').attr('selected', 'selected');
    });
</script>
{% endblock %}