{% extends 'base.html' %}
{% load static  %}

{% block title %}My Page{% endblock %}

{% block customCSS %}
	<link rel="stylesheet" href="{% static 'css/member/my_page.css' %}">
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-7 mypage">
            <h2>My Page</h2>
            <div class="info-area">
                {% if user.bio %}
                    <h6>{{ user.bio }}</h6>
                {% else %}
                    <h6>자기소개가 비어있습니다.<br />간단하게 프로필을 작성해보아요!</h6>
                {% endif %}
                <a class="btn btn-gray" href="{% url 'member:logout' %}">LOG OUT</a>
            </div>

            <div class="mypage-body">
                <div class="tab-content">
                    <div id="pills-profile" class="tab-pane show active">
                        <div class="img-wrap mypage-header">
                            <img id="previewHolder" class="profile_image" src="/media/{{ user.profile_image }}" />
                            <img class="fake-btn" src="{% static '/img/camera.svg' %}" />
                            <h4>{{ user }}</h4>
                        </div>
						<div class="form-wrap">
							<h4>비밀번호 수정</h4>
							<form method="post" enctype="multipart/form-data">
	                            {% csrf_token %}
	                            {{ password_form.non_field_errors }}
	                            <div class="form-group">
	                                <label for="{{ password_form.old_password.id_for_label }}">현재 비밀번호</label>
	                                {{ password_form.old_password }}
	                                {{ password_form.old_password.errors }}
	                            </div>
	                            <div class="form-group">
	                                <label for="{{ password_form.new_password1.id_for_label }}">새 비밀번호</label>
	                                {{ password_form.new_password1 }}
	                                {{ password_form.new_password1.errors }}
	                            </div>
	                            <div class="form-group">
	                                <label for="{{ password_form.new_password2.id_for_label }}">새 비밀번호 확인</label>
	                                {{ password_form.new_password2 }}
	                                {{ password_form.new_password2.errors }}
	                            </div>
	                            <input class="btn btn-full btn-fill" type="submit">
	                        </form>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
