{% extends 'base.html' %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{% static 'css/member/login.css' %}">
{% endblock %}

{% block content %}
<div class="row m60">
    <div class="example web-flex col-md-5">
        <h2>채터박스</h2>
        <h4>A or B. 어느 쪽이 맞아?</h4>
        <h3>2지선다 오지랖 댓글 커뮤니티</h3>
        <ul>
            <li><img src="{% static '/img/icons/check-icon.png' %}" alt="">
                <h6>일상의 이야기</h6>
            </li>
            <li><img src="{% static '/img/icons/check-icon.png' %}" alt="">
                <h6>2지선다 선택 댓글</h6>
            </li>
            <li><img src="{% static '/img/icons/check-icon.png' %}" alt="">
                <h6>익명 커뮤니티</h6>
            </li>
        </ul>
        <img src="{% static '/img/example-login.png' %}" alt="">
    </div>
    <div class="col-md-1"></div>
    <div class="login col-md-6">
        <div class="login-header">
            <h2>SIGN UP</h2>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item"><a class="tab-link" href="{% url 'member:login' %}">
                        <h5>LOG IN</h5>
                    </a></li>
                <li class="nav-item"><a class="tab-link active" href="#">
                        <h5>SIGN UP</h5>
                    </a></li>
            </ul>
        </div>

        {% include 'include/form.html' with form=signup_form submit_class='btn-full' submit_title='SIGN UP' enctype='file' %}

        <a href="/accounts/password/reset">
            <h5 class="pt-3 sub-link">계정을 잊어버리셨나요?</h5>
        </a>

        <div id="social-login" class="btn-wrap row m60">
            <a class="col-md-6 col-12 social-btn facebook" href="/accounts/facebook/login/?process=login">
                <img src="{% static '/img/facebook.png' %}" />FACEBOOK으로 계속하기
            </a>
            <a class="col-md-6 col-12 social-btn google" href="/accounts/google/login/?process=login">
                <img src="{% static '/img/google.png' %}" />Google로 계속하기
            </a>
            <a class="col-md-6 col-12 social-btn kakao" href="/accounts/kakao/login/?process=login">
                <img src="{% static '/img/kakao.png' %}" />Kakao로 계속하기
            </a>
            <a class="col-md-6 col-12 social-btn naver" href="/accounts/naver/login/?process=login">
                <img src="{% static '/img/naver.png' %}" />Naver로 계속하기
            </a>
        </div>
    </div>
</div>
{% endblock %}