{% load static %}

{% block customCSS %}
<link rel="stylesheet" href="{% static 'css/comment/comment.css' %}">
<link rel="stylesheet" href="{% static 'css/comment/comment_action.css' %}">
<link rel="stylesheet" href="{% static 'css/include/modal.css' %}">
{% endblock %}

<!-- @@@@@@@@@@@@@@@@ COMMENT TITLE START @@@@@@@@@@@@@@@@ -->
<div class="row comment_title">
    <div class="col-6 pro-title">
        <h5>{{ post.pro_title }}</h5>
        <a data-toggle="collapse" href="#pro-form">
            <img class="add-pro" src="{% static 'img/add-pro.svg' %}" />
        </a>
    </div>
    <div class="col-6 con-title">
        <h5>{{ post.con_title }}</h5>
        <a data-toggle="collapse" href="#con-form">
            <img class="add-con" src="{% static 'img/add-con.svg' %}" />
        </a>
    </div>
</div>
<!-- @@@@@@@@@@@@@@@@ COMMENT TITLE END @@@@@@@@@@@@@@@@ -->

<div class="row comment-wrap">
    <div class="pro-comments col-6">
        <!-- @@@@@@@@@@@@@@@@ PRO COMMENT CREATE START @@@@@@@@@@@@@@@@ -->
        <div id="pro-form" class="form-wrap pro-form collapse">
            {{ comment_form.content }}
            <button class="btn btn-line" type="button"><a data-toggle="collapse" href="#pro-form">취소하기</a></button>
            <button class="btn btn-fill comment-create" name="pro">등록하기</button>
        </div>
        <!-- @@@@@@@@@@@@@@@@ PRO COMMENT CREATE END @@@@@@@@@@@@@@@@ -->
        <!-- @@@@@@@@@@@@@@@@ PRO COMMENT LIST START @@@@@@@@@@@@@@@@ -->
        <div class="comment-list pro-list">
            <ul class="mine">
                {% for comment in procomments_mine.all %}
                <li class="comment">{% include 'include/comment.html' %}</li>
                {% if forloop.last %}
                <div class="comment-divider pro-divider">
                    <hr>
                    <span>나의 등록 의견</span>
                    <hr>
                </div>
                {% endif %}
                {% endfor %}
            </ul>
            <ul class="etc">
                {% for comment in procomments_exclude.all %}
                <li class="comment">{% include 'include/comment.html' %}</li>
                {% endfor %}
            </ul>
        </div>
        <!-- @@@@@@@@@@@@@@@@ PRO COMMENT LIST END @@@@@@@@@@@@@@@@ -->
    </div>

    <div class="con-comments col-6">
        <!-- @@@@@@@@@@@@@@@@ CON COMMENT CREATE START @@@@@@@@@@@@@@@@ -->
        <div id="con-form" class="form-wrap con-form collapse">
            {{ comment_form.content }}
            <button class="btn btn-line" type="button"><a data-toggle="collapse" href="#con-form">취소하기</a></button>
            <button class="btn btn-fill comment-create" name="con">등록하기</button>
        </div>
        <!-- @@@@@@@@@@@@@@@@ CON COMMENT CREATE END @@@@@@@@@@@@@@@@ -->
        <!-- @@@@@@@@@@@@@@@@ CON COMMENT LIST START @@@@@@@@@@@@@@@@ -->
        <div class="comment-list con-list">
            <ul class="mine">
                {% for comment in concomments_mine.all %}
                <li class="comment">{% include 'include/comment.html' %}</li>
                {% if forloop.last %}
                <div class="comment-divider con-divider">
                    <hr>
                    <span>나의 등록 의견</span>
                    <hr>
                </div>
                {% endif %}
                {% endfor %}
            </ul>
            <ul class="etc">
                {% for comment in concomments_exclude.all %}
                <li class="comment">{% include 'include/comment.html' %}</li>
                {% endfor %}
            </ul>
        </div>
        <!-- @@@@@@@@@@@@@@@@ CON COMMENT LIST END @@@@@@@@@@@@@@@@ -->
    </div>
</div>

{% include 'include/modal.html' with modal_id='reportModal' modal_title='신고하기' modal_btn='신고하기' %}

{% block customJS %}
<script type="text/javascript">
    $(document).on('click', '.comment-create', function () {
        var content = $(this).parent().find('textarea').val();
        var type = $(this).attr('name');
        if (content.length > 140) {
            alert('댓글은 최대 140자 입력 가능합니다. 현재 글자수 :' + content.length)
            return;
        }
        $.ajax({
            type: 'POST',
            url: '{% url "comment:comment_create" post_pk=post.pk %}',
            data: {
                'content': content,
                'type': type,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            dataType: 'html',
            success: function (data, textStatus, jqXHR) {
                $('.form-wrap textarea').val('');
                if (type == 'pro') {
                    if ($('.pro-list .mine .comment')[0]) {
                        $('.pro-list .mine').prepend('<li class="comment">' + data + '</li>');
                    } else {
                        $('.pro-list .mine').prepend('<li class="comment">' + data + '</li>');
                        $('.pro-list .mine').append('<div class="comment-divider pro-divider"><hr><span>나의 등록 의견</span><hr></div>');
                    };
                } else {
                    if ($('.con-list .mine .comment')[0]) {
                        $('.con-list .mine').prepend('<li class="comment">' + data + '</li>');
                    } else {
                        $('.con-list .mine').prepend('<li class="comment">' + data + '</li>');
                        $('.con-list .mine').append('<div class="comment-divider con-divider"><hr><span>나의 등록 의견</span><hr></div>');
                    };
                }
            }
        });
    });

    $(document).on('click', '.comment-delete', function () {
        if (!confirm("정말 삭제하시겠습니까?")) { return };
        var pk = $(this).attr('name');
        var $target = $(this).parent().parent().parent();
        $.ajax({
            type: "POST",
            url: "{% url 'comment:comment_delete' %}",
            data: {
                'comment_pk': pk,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            dataType: "json",
            success: function (response) {
                $target.remove();
                if ($('.pro-list .mine .comment')[0]) { } else { $('.pro-divider').fadeOut(); };
                if ($('.con-list .mine .comment')[0]) { } else { $('.con-divider').fadeOut(); };
                alert(response.message);
            }
        });
    });

    $(document).on('click', '.coc-create', function () {
        var content = $(this).parent().find('input').val();
        var pk = $(this).attr('name');
        if (content.length > 140) {
            alert('댓글은 최대 140자 입력 가능합니다. 현재 글자수 :' + content.length)
            return;
        }
        $.ajax({
            type: 'POST',
            url: '{% url "comment:coc_create" %}',
            data: {
                'content': content,
                'comment_pk': pk,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            dataType: 'html',
            success: function (data, textStatus, jqXHR) {
                $('.coc-form input').val('');
                $('#action-' + pk + ' .coc-list').prepend('<div class="coc-item">' + data + '</div>');
            }
        });
    });

    $(document).on('click', '.coc-delete', function () {
        if (!confirm("정말 삭제하시겠습니까?")) { return };
        var pk = $(this).attr('name');
        var $target = $(this).parent().parent().parent();
        $.ajax({
            type: "POST",
            url: "{% url 'comment:coc_delete' %}",
            data: {
                'coc_pk': pk,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            dataType: "json",
            success: function (response) {
                $target.remove();
                alert(response.message);
            }
        });
    });

    $(document).on('click', '.comment-like', function () {
        var pk = $(this).attr('name');
        var $target = $(this).find('p');
        $.ajax({
            type: "POST",
            url: "{% url 'comment:comment_like_toggle' %}",
            data: {
                'comment_pk': pk,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            dataType: "json",
            success: function (response) {
                if ($target.hasClass('active')) {
                    var changeNum = Number($target.text()) - 1;
                    $target.text(changeNum);
                    $target.removeClass('active');
                    $target.parent().children('img').attr('src', '{% static "/img/like_hate_empty.png" %}');
                } else {
                    var changeNum = Number($target.text()) + 1;
                    $target.text(changeNum);
                    $target.addClass('active');
                    $target.parent().children('img').attr('src', '{% static "/img/like_hate_fill.png" %}');
                }
            }
        });
    });

    $(document).on('click', '.comment-hate', function () {
        var pk = $(this).attr('name');
        var $target = $(this).find('p');
        $.ajax({
            type: "POST",
            url: "{% url 'comment:comment_hate_toggle' %}",
            data: {
                'comment_pk': pk,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            dataType: "json",
            success: function (response) {
                if ($target.hasClass('active')) {
                    var changeNum = Number($target.text()) - 1;
                    $target.text(changeNum);
                    $target.removeClass('active');
                    $target.parent().children('img').attr('src', '{% static "/img/like_hate_empty.png" %}');
                } else {
                    var changeNum = Number($target.text()) + 1;
                    $target.text(changeNum);
                    $target.addClass('active');
                    $target.parent().children('img').attr('src', '{% static "/img/like_hate_fill.png" %}');
                }
            }
        });
    });
</script>
{% endblock %}