{% load static %}
<div class="comment-update form-wrap">
    {{ comment_form.content }}
    <button id="btn-clear-{{ comment.pk }}" class="btn btn-line clear-btn">취소하기</button>
    <button id="btn-update-{{ comment.pk }}" class="btn btn-fill">수정하기</button>

    <script type="text/javascript">
        $('#btn-update-{{ comment.pk }}').click(function () {
            var content = $('.comment-update textarea').val();
            var $target = $(this).parent().parent().parent();
            if (content.length > 256) {
                alert('댓글은 최대 256자 입력 가능합니다. 현재 글자수 :' + content.length)
                return;
            }
            $.ajax({
                type: 'POST',
                url: '{% url "comment:comment_update" comment_pk=comment.pk %}',
                data: {
                    'content': content,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                dataType: 'html',
                success: function (data, textStatus, jqXHR) {
                    $target.load('{% url "comment:comment_detail" comment_pk=comment.pk %}');
                    $('.toast .content').html('<p>의견을 수정하셨습니다.</p><p>자신의 의견은 최상단에 표시됩니다.</p>');
                    $('.toast').toast('show');
                }
            });
        });

        $('#btn-clear-{{ comment.pk }}').click(function () {
            var $target = $(this).parent().parent().parent();
            $target.load('{% url "comment:comment_detail" comment_pk=comment.pk %}');
        });
    </script>
</div>