{% load static %}
<div class="category-wrap">
    <div class="category m60" name="{{ target }}">
        <a id="all" class="category-link" href="{% url 'post:post_list' %}">
            <img class="category-icon" src="{% static '/img/categories/all.png' %}" />
            <h6>ALL</h6>
        </a>

        {% for category in categories %}
        <a id="{{ category.slug }}" class="category-link" href="/post/category/{{ category.slug }}">
            <img class="category-icon" src="/static/img/categories/{{ category.slug }}.png" />
            <h6>{{ category.name }}</h6>
        </a>
        {% endfor %}
    </div>
</div>

<script>
    $(document).ready(function () {
        var category = $('.category').attr('name');
        if (category.length) {
            $('#' + category).addClass('active');
        } else {
            $('#all').addClass('active');
        }
    });
</script>