{% load static %}
<div class="item-header comment-header">
    <div class="header-left">
        <img src="/media/{{ coc.author.profile_image }}" />
        <h6>{{ coc.author }}<br><span>{{ coc.created_at }}</span></h6>
    </div>
    <div class="header-right">
        {% if coc.author == request.user %}
        <a onclick="$('.coc-clear-btn').click();$('#coc-content-{{ coc.pk }}').load('{% url 'comment:coc_update' coc_pk=coc.pk %}');"><img
                src="{% static 'img/edit.png' %}">수정하기</a>
        <a class="coc-delete" name="{{ coc.pk }}"><img src="{% static 'img/delete.png' %}" />삭제하기</a>
        {% endif %}
    </div>
</div>
<h6 id="coc-content-{{ coc.pk }}">{{ coc.content }}</h6>