{% load static %}

{% block customCSS %}
<link rel="stylesheet" href="{% static 'css/post/comments.css' %}">
{% endblock %}

<!-- @@@@@@@@@@@@@@@@ COMMENT TITLE START @@@@@@@@@@@@@@@@ -->
<div class="row comment_title">
    <div class="col-6 pro-title">
        <h5>{{ post.pro_title }}</h5>
        <a data-toggle="collapse" href="#pro-form">
            <img class="add-pro" src="{% static 'img/add-pro.svg' %}" />
        </a>
    </div>
    <div class="col-6 con-title">
        <h5>{{ post.con_title }}</h5>
        <a data-toggle="collapse" href="#con-form">
            <img class="add-con" src="{% static 'img/add-con.svg' %}" />
        </a>
    </div>
</div>
<!-- @@@@@@@@@@@@@@@@ COMMENT TITLE END @@@@@@@@@@@@@@@@ -->

<div class="row comment-wrap">
    <div class="pro-comments col-6">
        <!-- @@@@@@@@@@@@@@@@ PRO COMMENT CREATE START @@@@@@@@@@@@@@@@ -->
        <div id="pro-form" class="form-wrap pro-form collapse">
            {{ pro_comment_form.content }}
            <button class="btn btn-line" type="button"><a data-toggle="collapse" href="#pro-form">취소하기</a></button>
            <button id="create-pro" class="btn btn-fill">등록하기</button>

            <script type="text/javascript">
                $('#create-pro').click(function (e) {
                    e.preventDefault();
                    var content = $('#pro-form textarea').val();
                    if (content.length > 140) {
                        alert('댓글은 최대 140자 입력 가능합니다. 현재 글자수 :' + content.length)
                        return;
                    }
                    $.ajax({
                        type: 'POST',
                        url: '{% url "comment:pro_comment_create" post_pk=post.pk %}',
                        data: {
                            'content': content,
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                        },
                        dataType: 'html',
                        success: function (data, textStatus, jqXHR) {
                            $('#pro-form textarea').val('');
                            $('#pro-list').load('{% url "comment:pro_comment_create" post_pk=post.pk %} #pro-list');
                        }
                    })
                })
            </script>
        </div>
        <!-- @@@@@@@@@@@@@@@@ PRO COMMENT CREATE END @@@@@@@@@@@@@@@@ -->

        <!-- @@@@@@@@@@@@@@@@ PRO COMMENT LIST START @@@@@@@@@@@@@@@@ -->
        <ul id="pro-list" class="comment-list">
            <div class="comment-divider pro-divider">
                <hr><span>나의 등록 의견</span>
                <hr>
            </div>
            {% for comment in pro_comments.all %}
            <li id="pro-{{ comment.pk }}" class="comment {% if comment.author == user %}mine pro-mine{% endif %}">
                {% include 'include/pro_comment.html' %}
            </li>
            {% endfor %}
            <!-- @@@@@@@@@@@@@@@@ PRO COMMENT LIST END @@@@@@@@@@@@@@@@ -->
        </ul>
    </div>


    <!-- @@@@@@@@@@@@@@@@ CON COMMENT START @@@@@@@@@@@@@@@@ -->
    <div class="con_comments col-6">
        <!-- @@@@@@@@@@@@@@@@ CON COMMENT CREATE START @@@@@@@@@@@@@@@@ -->
        <div id="con-form" class="form-wrap con-form collapse">
            {{ con_comment_form.content }}
            <button class="btn btn-line" type="button"><a data-toggle="collapse" href="#con-form">취소하기</a></button>
            <button id="create-con" class="btn btn-fill">등록하기</button>

            <script type="text/javascript">
                $(document).on('click', '#create-con', function (e) {
                    e.preventDefault();
                    var content = $('#con-form textarea').val();
                    if (content.length > 140) {
                        alert('댓글은 최대 140자 입력 가능합니다. 현재 글자수 :' + content.length)
                        return;
                    }
                    $.ajax({
                        type: 'POST',
                        url: '{% url "comment:con_comment_create" post_pk=post.pk %}',
                        data: {
                            'content': content,
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                        },
                        dataType: 'html',
                        success: function (data, textStatus, jqXHR) {
                            $('#con-form textarea').val('');
                            $('#con-list').load('{% url "comment:con_comment_create" post_pk=post.pk %} #con-list');
                        }
                    })
                })
            </script>
        </div>
        <!-- @@@@@@@@@@@@@@@@ CON COMMENT CREATE END @@@@@@@@@@@@@@@@ -->

        <!-- @@@@@@@@@@@@@@@@ CON COMMENT LIST START @@@@@@@@@@@@@@@@ -->
        <ul id="con-list" class="comment-list">
            <div class="comment-divider con-divider">
                <hr><span>나의 등록 의견</span>
                <hr>
            </div>
            {% for comment in con_comments.all %}
            <li id="con-{{ comment.pk }}" class="comment {% if comment.author == user %}mine con-mine{% endif %}">
                {% include 'include/con_comment.html' %}
            </li>
            {% endfor %}
            <!-- @@@@@@@@@@@@@@@@ CON COMMENT LIST END @@@@@@@@@@@@@@@@ -->
        </ul>
    </div>
</div>
