{% load static %}
<div class="comment-header">
    <div class="header-left">
        <img src="{{ comment.author.profile_image.url }}" />
        <h6>{{ comment.author }}<br><span>{{ comment.created_at }}</span></h6>
    </div>
    <div class="header-right">
        {% if comment.author == request.user %}
        <a onclick="$('.clear-btn').click();$('#content-{{ comment.pk }}').load('{% url 'comment:comment_update' comment_pk=comment.pk %}');"><img
                src="{% static 'img/edit.png' %}">수정하기</a>
        <a class="comment-delete" name="{{ comment.pk }}"><img src="{% static 'img/delete.png' %}" />삭제하기</a>
        {% endif %}
    </div>
</div>

<h6 id="content-{{ comment.pk }}" class="comment-content">{{ comment.content|linebreaks }}</h6>

<div class="comment-footer">
    <div class="btn-wrap">
        <div class="like-hate">
            <form action="{% url 'comment:comment_like_toggle' comment_pk=comment.pk %}" method="POST">
                {% csrf_token %}
                <button>
                    {% if comment in user.like_comments.all %}
                    <img src="{% static '/img/like_hate_fill.png' %}" />
                    <p class="count active"> {{ comment.like_comments.count }}</p>
                    {% else %}
                    <img src="{% static '/img/like_hate_empty.png' %}" />
                    <p class="count"> {{ comment.like_comments.count }}</p>
                    {% endif %}
                </button>
            </form>
        </div>

        <div class="like-hate">
            <form action="{% url 'comment:comment_hate_toggle' comment_pk=comment.pk %}" method="POST">
                {% csrf_token %}
                <button>
                    {% if comment in user.hate_comments.all %}
                    <img class="hate" src="{% static '/img/like_hate_fill.png' %}" />
                    <p class="count active">{{ comment.hate_comments.count }}</p>
                    {% else %}
                    <img class="hate" src="{% static '/img/like_hate_empty.png' %}" />
                    <p class="count">{{ comment.hate_comments.count }}</p>
                    {% endif %}
                </button>
            </form>
        </div>
    </div>

    <!-- @@@@@@@@@@@@@@@@ PRO COMMENT'COMMENT N REPORT TOGGLE START @@@@@@@@@@@@@@@@ -->
    <div class="btn-wrap">
        <button>
            <a data-toggle="collapse" href="#action-{{ comment.pk }}">
                <img src="{% static '/img/comment.png' %}" style="margin-right: 4px;" />
                <span class="count">{{ comment.comment_on_comment.count }}</span>
            </a>
        </button>
        <button>
            <a data-toggle="collapse" href="#action-{{ comment.pk }}">
                <img src="{% static '/img/report.png' %}" />
                <span class="count">신고하기</span>
            </a>
        </button>
    </div>
    <!-- @@@@@@@@@@@@@@@@ PRO COMMENT'COMMENT N REPORT TOGGLE END @@@@@@@@@@@@@@@@ -->
</div>

<!-- @@@@@@@@@@@@@@@@ PRO COMMENT'COMMENT N REPORT CONTENT START @@@@@@@@@@@@@@@@ -->
<div class="comment-action collapse" id="action-{{ comment.pk }}">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="tab-link active" href="#coc-{{ comment.pk }}" data-toggle="pill">
                <h5>답글</h5>
            </a>
        </li>
        <li class="nav-item">
            <a class="tab-link" href="#report-{{ comment.pk }}" data-toggle="pill">
                <h5>신고하기</h5>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="coc-{{ comment.pk }}">
            <form action="{% url 'comment:comment_on_comment' comment_pk=comment.pk %}" method="POST">
                {% csrf_token %}
                {{ comment_on_comment_form.content }}
                <button class="btn btn-fill" type="submit">등록하기</button>
            </form>

            <div class="coc-list">
                {% for coc in comment.comment_on_comment.all reversed %}
                <div class="coc-item">
                    <div class="item-header">
                        <img src="/media/{{ coc.author.profile_image }}" />
                        <h6>{{ coc.author }}<br><span>{{ coc.created_at }}</span></h6>
                    </div>
                    <h6>{{ coc.content }}</h6>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-pane fade" id="report-{{ comment.pk }}">
            <form class="report-form" action="{% url 'comment:comment_report' comment_pk=comment.pk %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ report_comment_form.etc_text }}
                    <button class="btn btn-fill" type="submit">신고하기</button>
                </div>
                <div class="form-group">
                    {{ report_comment_form.report_reason }}
                </div>
            </form>
        </div>
    </div>
</div>
<!-- @@@@@@@@@@@@@@@@ PRO COMMENT'COMMENT N REPORT CONTENT END @@@@@@@@@@@@@@@@ -->