{% load static %}
<div class="comment-header">
    <div class="header-left">
        <img src="{{ comment.author.profile_image.url }}" />
        <h6>{{ comment.author }}<br><span>{{ comment.natural_time }}</span></h6>
    </div>
    <div class="header-right">
        {% if comment.author == request.user %}
        <a
            onclick="$('.clear-btn').click();$('#content-{{ comment.pk }}').load('{% url 'comment:comment_update' comment_pk=comment.pk %}');"><img
                src="{% static '/img/icons/edit.png' %}">수정하기</a>
        <a class="comment-delete" name="{{ comment.pk }}"><img src="{% static '/img/icons/delete.png' %}" />삭제하기</a>
        {% endif %}
    </div>
</div>

<h6 id="content-{{ comment.pk }}" class="comment-content">{{ comment.content|linebreaks }}</h6>

<div class="comment-footer">
    <div class="btn-wrap">
        <div class="like-hate">
            <button class="comment-like {% if not user.is_authenticated %}plzLogin{% endif %}" name="{{ comment.pk }}">
                {% if comment in user.like_comments.all %}
                <img src="{% static '/img/icons/like-hate-fill.png' %}" />
                <p class="count active"> {{ comment.like_comments.count }}</p>
                {% else %}
                <img src="{% static '/img/icons/like-hate-empty.png' %}" />
                <p class="count"> {{ comment.like_comments.count }}</p>
                {% endif %}
            </button>
        </div>

        <div class="like-hate">
            <button class="comment-hate {% if not user.is_authenticated %}plzLogin{% endif %}" name="{{ comment.pk }}">
                {% if comment in user.hate_comments.all %}
                <img class="hate" src="{% static '/img/icons/like-hate-fill.png' %}" />
                <p class="count active">{{ comment.hate_comments.count }}</p>
                {% else %}
                <img class="hate" src="{% static '/img/icons/like-hate-empty.png' %}" />
                <p class="count">{{ comment.hate_comments.count }}</p>
                {% endif %}
            </button>
        </div>
    </div>

    <!-- @@@@@@@@@@@@@@@@ PRO COMMENT'COMMENT N REPORT TOGGLE START @@@@@@@@@@@@@@@@ -->
    <div class="btn-wrap">
        <button class="coc-toggle {{ comment.pk }}-toggle collapsed" data-toggle="collapse"
            data-target="#action-{{ comment.pk }}">
            <img src="{% static '/img/icons/comment.png' %}" />
            <span class="count count-{{ comment.pk }}">{{ comment.comment_on_comment.count }}</span>
        </button>
        {% if user.is_authenticated %}
        <button data-toggle="modal" data-target="#reportModal"
            onclick="$('#reportModal .modal-content').load('{% url 'comment:comment_report' comment_pk=comment.pk %}');">
            <img src="{% static '/img/icons/report.png' %}" />
            <span class="count web-flex">신고하기</span>
        </button>
        {% endif %}
    </div>
    <!-- @@@@@@@@@@@@@@@@ PRO COMMENT'COMMENT N REPORT TOGGLE END @@@@@@@@@@@@@@@@ -->
</div>

<!-- @@@@@@@@@@@@@@@@ PRO COMMENT'COMMENT N REPORT CONTENT START @@@@@@@@@@@@@@@@ -->
<div class="comment-action collapse" id="action-{{ comment.pk }}">
    {% if user.is_authenticated %}
    <div class="coc-form" name="{{ comment.pk }}">
        {{ comment_on_comment_form.content }}
        <h6 id="coc-count-{{ comment.pk }}" class="coc-count">0</h6>
        <button class="btn btn-fill coc-create" name="{{ comment.pk }}">등록하기</button>
    </div>
    {% endif %}

    <div class="coc-list">
        {% if comment.comment_on_comment.exists %}
        {% for coc in comment.comment_on_comment.all reversed %}
        <div class="coc-item">{% include 'include/coc.html' %}</div>
        {% endfor %}
        {% else %}
        <h6 class="coc-empty text-center my-3">등록 된 대댓글이 없습니다.</h6>
        {% endif %}
    </div>
    <button class="coc-fold mt-2" data-toggle="collapse" data-target="#action-{{ comment.pk }}" name="{{ comment.pk }}">
        <img src="{% static '/img/icons/down.png' %}" alt="">
        <p>접기</p>
    </button>
</div>
<!-- @@@@@@@@@@@@@@@@ PRO COMMENT'COMMENT N REPORT CONTENT END @@@@@@@@@@@@@@@@ -->