{% load static %}
{% block content %}
<footer>
    <div class="container inner">
        <ul class="column">
            <li class="list-item"><a href="/company">채터박스는?</a></li>
            <li class="list-item"><a href="/guide">이용 가이드</a></li>
            <li class="list-item"><a href="/term">이용 약관</a></li>
            <li class="list-item"><a href="/privacy">개인정보보호</a></li>
        </ul>

        <div class="copyright">
            <span>chatterbox4921@gmail.com</span><br>
            <span>2018 ChatterBox All right reserved.</span>
        </div>
    </div>
</footer>
{% endblock %}