<div class="modal fade" id="{{ modal_id }}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ modal_title }}</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-line" data-dismiss="modal">취소하기</button>
                <button type="button" class="btn btn-fill" id="modal-submit">{{ modal_btn }}</button>
            </div>
        </div>
    </div>
</div>