{% load static  %}

{% block customCSS %}
	<link rel="stylesheet" href="{% static 'css/include/share.css' %}">
{% endblock %}

<div class="share-sns">
    <a href="javascript:shareFacebook()">
        <img src="{% static '/img/share-fb.svg' %}" />
    </a>

    <a href="javascript:shareNaver()">
        <img src="{% static '/img/share-naver.svg' %}" />
    </a>

    <a href="javascript:shareKatalk()">
        <img src="{% static '/img/share-kakao.svg' %}" />
    </a>

    <a href="javascript:shareLink()">
        <img src="{% static '/img/share-link.svg' %}" />
    </a>
    <input type="text" value="Copy Url" id="linkInput">
</div>

{% block customJS %}
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.10/clipboard.min.js"></script>
    <script src="{% static 'js/include/share.js' %}"></script>
{% endblock %}
