{% load static %}

{% block customCSS %}
<link rel="stylesheet" href="{% static 'css/include/slide_menu.css' %}">
{% endblock %}

<nav id="slide-menu">
    <div class="inner">
        <div class="slide-header">
            <h3 class="slide-close">&times;</h3>
            <h4>좋아요</h4>
        </div>
        <div class="slide-body">
            {% if liked_posts %}
            {% for post in liked_posts %}
            <div class="like-card">
                <div class="btn-area" onclick="return confirm('좋아요 목록에서 제외하기 \n\n제외하시면 좋아요 목록에서 사라집니다. \n이후에 다시 찜하면 목록에 표시 됩니다.')">
                    <form action="{% url 'post:post_like_toggle' post_pk=post.pk %}" method="POST">
                        {% csrf_token %}
                        <button class="del-like">
                            <h3>&times;</h3>
                        </button>
                    </form>
                </div>

                <label>Title</label>
                <a href="{% url 'post:post_detail' post_pk=post.id %}">
                    <h3>{{ post.title }}</h3>
                </a>
                <div class="subtitle-wrap clearfix">
                    <div class="pro-title float-left"></div>
                    <p class="float-right">{{ post.pro_title }}</p>
                </div>
                <div class="subtitle-wrap clearfix">
                    <div class="con-title float-left"></div>
                    <p class="float-right">{{ post.con_title }}</p>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="likes-empty">
                <h4>찜 목록이 없습니다.</h4>
                <img src="{% static '/img/heart-empty.png' %}" />
            </div>
            {% endif %}
        </div>
    </div>
</nav>

{% block customJS %}

{% endblock %}