{% load static %}
<div class="sort-button" onchange="location = this.value;" name="{{ sort }}">
    <a class="select-change" data-val="?sort=new">
        <h5 id="new">최신순</h5>
    </a>
    <a class="select-change" data-val="?sort=views">
        <h5 id="views">조회순</h5>
    </a>
    <a class="select-change" data-val="?sort=comments">
        <h5 id="comments">댓글순</h5>
    </a>
    <a class="select-change" data-val="?sort=likes">
        <h5 id="likes">지금 인기</h5>
    </a>
</div>

<select class="sort-select d-none" onchange="location = this.value;">
    <option value="?sort=new">최신순</option>
    <option value="?sort=views">조회순</option>
    <option value="?sort=comments">댓글순</option>
    <option value="?sort=likes">지금 인기</option>
</select>

<script>
    $(document).ready(function () {
        var sort = $('.sort-button').attr('name');
        if (sort.length) {
            $('#' + sort).addClass('active');
        } else {
            $('#new').addClass('active');
        }

        $('.select-change').click(function () {
            $('.sort-select').val($(this).data('val')).trigger('change');
        });
    });
</script>