.comment-wrap { margin: 0; margin-bottom: 60px; }
.comment-wrap .col-6 { max-width: calc(50% - 4px); padding: 0; }
.comment-wrap .pro-comments { margin-right: 4px; }
.comment-wrap .con_comments { margin-left: 4px; }


.comment-wrap .col-6 .form-wrap { width: 100%; padding: 12px; border: 1px solid; text-align: right; }
.comment-wrap .col-6 .form-wrap textarea { height: 128px; border: 1px solid #C3C5C7; border-radius: 0; }
.comment-wrap .col-6 .form-wrap button { margin: 12px; margin-right: 0; }
.comment-wrap .col-6 .form-wrap .btn-line { border-color: #C3C5C7; color:  #3D3D3D !important; }
.comment-wrap .col-6 .pro-form { margin: 8px 0; border-color: #41CC90; }
.comment-wrap .col-6 .pro-form .btn-fill { border-color: #41CC90; background-color:  #41CC90; }
.comment-wrap .col-6 .con-form { margin: 8px 0; border-color: #FF725C; }
.comment-wrap .col-6 .con-form .btn-fill { border-color: #FF725C; background-color:  #FF725C; }
.comment-wrap .col-6 .comment-content .comment-update { padding: 0; border: 0; }

.comment-list { display: flex; flex-direction: column; }
.comment-list .comment.mine { order: 1; }
.comment-list .comment-divider { display: flex; justify-content: space-between; align-items: center; order: 2; text-align: center; }
.comment-list .comment-divider span { width: 100px; }
.comment-list .comment-divider hr { width: calc(50% - 50px); border-top: 1px solid #C3C5C7; }
.comment-list .comment { order: 3; margin: 8px 0; padding: 20px 24px; border: 1px solid #C3C5C7; }
.pro-comments .comment-list .comment { border-bottom: 1px solid #41CC90; }
.con_comments .comment-list .comment { border-bottom: 1px solid #FF725C; }

.comment-header { display: flex; justify-content: space-between; align-items: center; }
.comment-header .header-left { display: flex; align-items: center; }
.comment-header .header-left h6 { font-weight: 700; line-height: 18px; }
.comment-header .header-left img { width: 48px; height: 48px; border-radius: 50%; margin-right: 16px; }
.comment-header .header-right { display: flex; justify-content: flex-end; align-items: center; }
.comment-header .header-right img { width: 14px; height: 14px; margin-left: 12px; margin-right: 4px; }
.comment-header .header-right a { font-size: 12px; color: #2699FB; }
.comment-content { padding: 20px 0; }
.comment-content p { font-size: 14px; line-height: 24px; }
.comment-footer { display: flex; justify-content: space-between; }
.comment-footer .btn-wrap { display: flex; }
.comment-footer .btn-wrap .like-hate { display: flex; align-items: center; }
.comment-footer .btn-wrap .like-hate form { padding: 0; border: 0; }
.comment-wrap .col-6 .comment-footer .btn-wrap button { display: flex; align-items: center; margin: 0; }
.comment-wrap .col-6 .comment-footer .btn-wrap button a { display: flex; align-items: center; }
.comment-footer .btn-wrap button .hate { -webkit-transform:rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
.comment-footer .btn-wrap .count { margin: 0 12px 0 4px; font-weight: 500; color: #C3C5C7; }
.comment-footer .btn-wrap .active { color: #2699FB !important; }




.comment-action .nav-pills { margin: 32px 0; }
.comment-action .tab-pane form { display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; padding: 0; border: 0; }
.comment-action .tab-pane form input { width: 100%; height: 44px; border-radius: 0; background-color: #FAFCFD; }
.comment-action .tab-pane form button { margin-left: 12px; }
.comment-action .tab-pane form select { display: none; }

.comment-action .tab-pane .coc-list { padding-bottom: 20px; }
.comment-action .tab-pane .coc-list .coc-item { padding: 12px 0; border-bottom: 1px solid #C3C5C7; }
.comment-action .tab-pane .coc-list .coc-item .item-header { display: flex; align-items: center; }
.comment-action .tab-pane .coc-list .coc-item .item-header img { width: 32px; height: 32px; margin-right: 16px; border-radius: 50%; }
.comment-action .tab-pane .coc-list .coc-item .item-header h6 { font-weight: 700; line-height: 1; }
.comment-action .tab-pane .coc-list .coc-item .item-header span { color: #C3C5C7; }
.comment-action .tab-pane .coc-list .coc-item h6 { margin: 8px 0; }

.comment-action .tab-pane .report-form { flex-direction: column; }
.comment-action .tab-pane .report-form .form-group { display: flex; justify-content: space-between; align-items: center; width: 100%; }
.comment-action .tab-pane .report-form .form-group ul li { padding: 8px 0; }
.comment-action .tab-pane .report-form .form-group ul li input { width: 20px; height: 20px; margin-right: 28px; }
.comment-action .tab-pane .report-form .form-group ul li label { display: flex; align-items: center; font-size: 16px; font-weight: 400; color: #C3C5C7; }
