.post-body { padding: 60px 84px; border: 1px solid #C3C5C7; }
.post-body h2 { word-break: break-all; }
.post-body .detail-header { display: flex; justify-content: space-between; align-items: center; padding: 48px 0; }
.post-body .detail-header .btn-wrap { display: flex; flex-direction: row; align-items: center; }
.post-body .detail-header .btn-wrap .btn { margin-right: 20px; }
.post-body .detail-header .btn-wrap .btn-line { border-color: #C3C5C7; color: #C3C5C7 !important; }

.post-body .info-btn { width: calc(100% - 2px); background-color: #E9EBEE; border: 1px solid #C3C5C7; }
.post-body .info-btn img { margin-left: 54px; }
.post-body .collapsed img { margin-left: 64px; }
.post-body .info-btn span { float: right; margin-right: 16px; }

.post-body .detail-info { padding: 48px 42px; border: 1px solid #C3C5C7; }
.post-body .detail-info label { width: 100%; margin-bottom: 16px; font-size: 14px; }
.post-body .detail-info .profile-image { width: 50%; margin-bottom: 24px; }
.post-body .detail-info h4 { font-weight: 700; }
.post-body .detail-info span { font-size: 10px; color: #C3C5C7; }

.post-body .detail-info .conditions-wrap { display: flex; align-items: center; margin-bottom: 32px; }
.post-body .detail-info .conditions-wrap .conditions-item { display: flex; align-items: center; margin-right: 32px; }
.post-body .detail-info .conditions-wrap .conditions-item img { margin-right: 8px; }
.post-body .detail-info .tag-list { margin-bottom: 32px; }

.post-body .detail-hr { border: 2px solid #3d3d3d; }

.post-body .detail-body .thumbnail { max-width: 100%; margin-bottom: 32px; text-align: center; }
.post-body .detail-body .thumbnail img { max-width: 100%; }
.post-body .detail-body .post-background p { font-size: 16px; line-height: 32px; font-weight: 400; color: #3d3d3d; word-break: break-all; }


/* OPINION STYLE */
.opinion { padding: 48px 84px; border: 1px solid #C3C5C7; }
.opinion h2 { font-size: 34px; line-height: 60px; }

.comment_title { margin: 8px 0; }
.comment_title .col-6 { display: flex; justify-content: space-between; align-items: center; padding: 24px; max-width: calc(50% - 4px); border: 1px solid #C3C5C7; }
.comment_title .col-6 img { width: 32px; height: 32px; cursor: pointer; }
.comment_title .pro-title { margin-right: 4px; }
.comment_title .con-title { margin-left: 4px; }
.comment_title .pro-title h5 { color: #41CC90; word-break: break-all; }
.comment_title .con-title h5 { color: #FF725C; word-break: break-all; }


/* PIE CHART CSS */
.percent-wrap { display: flex; justify-content: center; align-items: center; margin-bottom: 48px; }
.percent-wrap .pro-title { color: #41cc90; }
.percent-wrap .con-title { color: #FF725C; }
.percent-wrap .chart { width: 50%; text-align: center; }
.percent-wrap .easyPieChart { position: relative; margin: 8px auto 32px; text-align: center; }
.percent-wrap .easyPieChart span { font-size: 16px; }
.percent-wrap .easyPieChart sup { top: 0; margin-left: 1px; }
.percent-wrap canvas { position: absolute; top: 0; left: 0; }


@media screen and (max-width: 768px) {
    /* DETAIL BODY STYLE */
    .post-body { padding: 0; border: 0; }
    .post-body .detail-header { flex-direction: column; align-items: left; padding: 0; }
    .post-body .detail-header .btn-wrap { justify-content: space-between; width: 100%; margin: 40px 0; }

    .post-body .detail-info { padding: 20px 16px; }
    .post-body .detail-info label { margin-bottom: 12px; font-size: 12px; }
    .post-body .detail-info .info-header { display: flex; align-items: center; margin-bottom: 24px; }
    .post-body .detail-info .info-header h4 { line-height: 1.2; }
    .post-body .detail-info .info-header .profile-image { width: 48px; height: 48px; margin-right: 32px; margin-bottom: 0; }

    .post-body .detail-info .conditions-wrap { justify-content: space-between; margin-bottom: 24px; }
    .post-body .detail-info .conditions-wrap .conditions-item { margin-right: 0; }
    .post-body .detail-info .tag-list { margin-bottom: 24px; }

    .post-body .detail-info .btn-wrap { padding: 0 25px; }
    .post-body .detail-info .btn-wrap .col-6 { padding: 0 5px; }

    /* OPINION STYLE */
    .opinion { margin-bottom: 20px; padding: 0; border: 0; }
    .opinion h2 { font-size: 20px; line-height: 30px; }

    .comment_title { margin: 0 -30px; }
    .comment_title .col-6 { padding: 20px 16px; max-width: 50%; border-top: 8px solid #E9EBEE; border-bottom: 0; }
    .comment_title .col-6 a { display: flex; }
    .comment_title .col-6 img { width: 20px; height: 20px; }
    .comment_title .pro-title { margin-right: 0; border-right: 4px solid #E9EBEE; border-left: 0; }
    .comment_title .con-title { margin-left: 0; border-left: 4px solid #E9EBEE; border-right: 0; }

    /* PIE CHART CSS */
    .percent-wrap { margin-bottom: 0; }
}
