/* NAV & BODY STYLE */
.gnb { display: none; }
.lnb { position: fixed; display: flex; width: 100%; top: 0; left: 0; z-index: 2; }
.lnb .container { justify-content: space-between; }


.item-header { text-align: center; }
.item-header h3 { font-size: 30px; font-weight: 700; }
.item-header .indicators { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; }
.item-header .indicators li { width: 8px; height: 8px; margin: 32px 5px; border-radius: 50%; background-color: #C3C5C7; cursor: pointer; }
.item-header .indicators li.active { background-color: #2699FB; }

.item-body .count { margin: 8px 0; font-weight:500; color: #2699FB; }
.item-body hr { width: 100%; margin-top: 60px; border-color: #C3C5C7; }
.item-body textarea { height: 300px !important; }
.item-body #id_pro_title { border-color: #41CC90; }
.item-body #id_con_title { border-color: #FF725C; }
.item-body .hide1 { margin-top: 60px; }
.item-body .hidden { display: none; }
.item-body .fake-btn { display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; min-height: 300px; border: 1px solid #C3C5C7; cursor: pointer; }
.item-body .fake-btn h6 { color: #2699FB; font-size: 16px; font-weight: 500; }
.item-body .fake-btn img { width: 100%; max-width: 100%; }
.item-body .fake-btns { display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; min-height: 300px; border: 1px solid #C3C5C7; cursor: pointer; }
.item-body .fake-btns h6 { color: #2699FB; font-size: 16px; font-weight: 500; }
.item-body .fake-btns img { width: 100%; max-width: 100%; }
.item-body .del-image { position: relative; bottom: -64px; right: 32px; width: 32px; height: 32px; float: right; text-align: center; font-size: 32px; line-height: 23px; color: #2699fb; background-color: #fff; border: 1px solid #2699fb; border-radius: 50%; cursor: pointer; }

.item-footer { text-align: center; }
.item-footer label { display: block; text-align: left; margin-bottom: 60px; }

.carousel-item label { font-size: 12px; font-weight: 700; color: #7F7F7F; margin-bottom: 8px; }
.carousel-item label span { font-weight: 700; color: #FF725C; }
#cke_id_background { max-width: 100% !important; }
.cke_editable { font-size: 16px !important; }


@media screen and (max-width: 768px) {
    nav.lnb .nav-icon { margin-top: 2px; }
    
    .item-body textarea { height: 180px !important; }
    .item-body .fake-btns { min-height: 180px; }
    .item-body .fake-btns h6 { font-size: 14px; }
    .item-body .hide1 { margin-top: 40px; }

    .item-footer { margin-top: 40px; }
    .item-footer label { margin-bottom: 40px; }
    .item-footer img { width: 100%; }

    .item-body .del-image { bottom: -48px; right: 16px; }
}