#search { display: flex; justify-content: space-between; align-items: center; width: 100%; margin-top: 60px; }
#search input { width: 100%; height: 60px;  border: 0; background-color: #E9EBEE; font-size: 20px; font-weight: 700; }
#search input:focus { box-shadow: none; }
#search button { padding: 8px 20px; }
#search .search-icon { width: 60px; padding: 12px; background-color: #E9EBEE; }
#search #search-reset { margin-right: 36px; padding: 21px; cursor: pointer; }

.search-header { width: 100%; }
.search-header h4 { font-weight: 700; }
.search-header h4 span { margin-left: 12px; font-size: 20px; font-weight: 700; color: #2699FB; }

.search-divider { width: 100%; border-color: #C3C5C7; }
