html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
body {
	display: flex;
    min-height: 100vh;
    flex-direction: column;
	font-family: "Noto Sans KR", sans-serif;
}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button { all: unset; cursor: pointer; background-color: rgba(0,0,0,0); border: 0; }
button:focus { outline: none; box-shadow: none !important; }
a { all: unset; text-decoration: none !important; cursor: pointer; color: #3D3D3D; }
a:hover { color: inherit; }
select {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image:
		linear-gradient(45deg, transparent 50%, #2699FB 50%),
		linear-gradient(135deg, #2699FB 50%, transparent 50%),
		linear-gradient(to right, #ccc, #ccc);
	background-position:
		calc(100% - 20px) calc(1em + 3px),
		calc(100% - 15px) calc(1em + 3px),
		calc(100% - 2.5em) 0.6em;
	background-size: 5px 5px, 6px 5px, 2px 1.5em;
	background-repeat: no-repeat;
}
select:focus {
	background-image:
		linear-gradient(45deg, #2699FB 50%, transparent 50%),
		linear-gradient(135deg, transparent 50%, #2699FB 50%),
		linear-gradient(to right, #ccc, #ccc);
	background-position:
		calc(100% - 15px) 1em,
		calc(100% - 20px) 1em,
		calc(100% - 2.5em) 0.6em;
	background-size: 6px 5px, 5px 5px, 2px 1.5em;
	background-repeat: no-repeat;
	border-color: #2699FB;
	outline: 0;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
::-webkit-input-placeholder,
::-moz-placeholder,
::-ms-input-placeholder,
::placeholder { color: #CBCBCB; opacity: 1; }


/* GLOBAL STYLE */
#content { min-height: 1px; }
.web-flex { display: flex !important; }
.web-block { display: block !important; }
.mobile-flex { display: none !important; }
.mobile-block { display: none !important; }
.highlight { color: #2699FB; }
.strong { font-weight: 700; }

/* NAVBAR STYLE */
nav.navbar { height: 64px; background-color: #fff; border-bottom: 1px solid #707070; }
nav.navbar .navbar-brand { display: flex; }
nav.navbar .nav-logo { width: 144px; }
nav.navbar .nav-item { display: flex; justify-content: center; flex-direction: column; text-align: center; margin-left: 24px; }
nav.navbar .nav-icon { width: 24px; margin-top: 2px; }
nav.navbar .nav-link .nav-img { width: 24px; }
nav.navbar .nav-link .x2 { width: 40px; }


/* FOOTER STYLE */
footer { background-color: #fff; border-top: 1px solid #7f7f7f; margin-top: auto; -webkit-text-fill-color: #7f7f7f !important; color: #7f7f7f; }
footer .inner { display: flex; justify-content: space-between; align-items: center; width: 100%; height: 80px; }
footer .inner .column { display: flex; }
footer .inner .column .list-item { margin-right: 40px; font-size: 14px; cursor: pointer; }
footer .inner .copyright { font-size: 12px; line-height: 18px; text-align: center; }


/* FONT STYLE */
h2 { font-size: 45px; line-height: 80px; font-weight: 700; color: #3d3d3d; word-break: break-all; }
h3 { font-size: 28px; line-height: 42px; font-weight: 500; color: #3d3d3d; word-break: break-all; }
h4 { font-size: 20px; line-height: 30px; font-weight: 500; color: #3d3d3d; word-break: break-all; }
h5 { font-size: 16px; line-height: 24px; font-weight: 500; color: #3d3d3d; word-break: break-all; }
h6 { font-size: 14px; line-height: 24px; font-weight: 400; color: #3d3d3d; word-break: break-all; }
p { font-size: 12px; line-height: 20px; font-weight: 400; color: #7f7f7f; word-break: break-all; }
span { font-size: 11px; line-height: 18px; font-weight: 400; color: #7f7f7f; word-break: break-all; }
label { font-size: 16px; line-height: 24px; font-weight: 500; color: #C3C5C7; word-break: break-all; }


/* BUTTON STYLE */
.btn {
    padding: 8px 13px;
    border: 0;
	border-radius: 3px;
	font-size: 14px;
    font-weight: 700;
    word-break: keep-all;
}
.btn-full {
	padding: 12px 0;
	width: 100%;
	border-radius: 0;
}
.btn-fill {
    -webkit-text-fill-color: #fff !important;
	color: #fff !important;
	background-color: #2699FB;
}
.btn-line {
    -webkit-text-fill-color: #2699FB !important;
	color: #2699FB !important;
    background-color: #fff;
    border: 1px solid #2699FB;
}
.btn-gray {
    -webkit-text-fill-color: #fff !important;
	color: #fff !important;
	background-color: #C3C5C7;
}
.tag {
	display: inline;
    margin-right: 20px;
    padding: 4px 10px;
    border: 1px solid #C3C5C7; 
	font-size: 12px;
	line-height: 3;
	font-weight: 400;
	color: #7f7f7f;
	cursor: pointer;
	word-break: keep-all;
}


/* FORM STYLE */
.form-group label { margin-bottom: 8px; font-size: 14px; font-weight: 500; line-height: 24px; color: #3D3D3D; }
.form-group .form-control { height: 44px; border-radius: 0; }
.form-wrap .form-group input { width: 100%; height: 44px; border-radius: 0; display: block; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-clip: padding-box; border: 1px solid #ced4da; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }


/* NAV STYLE */
.nav-pills { border-bottom: 1px solid #C3C5C7; }
.nav-pills .tab-link h5 { padding: 10px; }
.nav-pills .tab-link.active h5 { -webkit-text-fill-color: #2699FB; color: #2699FB; border-bottom: 3px solid #2699FB; }


/* SPACE STYLE */
.m60 { margin-top: 60px; margin-bottom: 60px; }
.p60 { padding-top: 60px; padding-bottom: 60px; }




@media screen and (max-width: 768px) {
	/* GLOBAL STYLE */
    .web-flex { display: none !important; }
    .web-block { display: none !important; }
    .mobile-flex { display: flex !important; }
    .mobile-block { display: block !important; }
    .mobile-br { display: block; }
    .m60 { margin-top: 40px; margin-bottom: 40px; }
    .p60 { padding-top: 40px; padding-bottom: 40px; }
    .container { width: 100%; max-width: 100%; padding: 0 30px; }
    .row { margin-left: -30px; margin-right: -30px; padding-left: 30px; padding-right: 30px; }


	/* NAVBAR STYLE */
	nav.navbar { height: 48px; padding: 0; }
	nav.navbar .container { padding: 0 15px; }
	nav.navbar .nav-logo { width: 108px; }
	nav.navbar .nav-item { margin-left: 12px; }
	nav.navbar .nav-item .btn { padding: 4px 8px; }
	nav.navbar .nav-icon { width: 20px; margin-top: 6px; }
    nav.navbar .nav-link .nav-img { width: 20px; }
    nav.navbar .nav-link .x2 { width: 32px; }


	/* FOOTER STYLE */
	footer { padding: 0; }
	footer .inner { flex-direction: column; justify-content: center; align-items: left; height: 130px; }
	footer .inner .column { display: block; margin-bottom: 16px; }
	footer .inner .column .list-item { float: left; margin-right: 40px; font-size: 12px; }
	footer .inner .copyright { font-size: 11px; text-align: left; }

    
    /* FONT STYLE */
    h2 { font-size: 30px; line-height: 45px; }
    h3 { font-size: 20px; line-height: 30px; }
    h4 { font-size: 14px; line-height: 24px; }
    h5 { font-size: 14px; line-height: 24px; }
    h6 { font-size: 12px; line-height: 20px; }
    p { font-size: 11px; line-height: 18px; }
    span { font-size: 10px; line-height: 16px; }
    label { font-size: 14px; line-height: 24px; }


	/* BUTTON STYLE */
	.btn { padding: 8px 9px; font-size: 12px; }
    .btn-full { padding: 10px 0; }
    

    /* FORM STYLE */
    .form-group label { font-size: 11px; font-weight: 700; line-height: 18px; }
    .form-group .form-control { height: 40px; font-size: 12px !important; }
    .form-wrap .form-group input { height: 40px; font-size: 12px !important; }
    textarea { font-size: 12px !important; }
    select {
        background-position: calc(100% - 16px) calc(1em + 3px), calc(100% - 10px) calc(1em + 3px), calc(100% - 2.1em) 0.5em;
        background-size: 5px 5px, 6px 5px, 1px 1.8em;
    }
    select:focus { 
        background-position: calc(100% - 10px) 1em, calc(100% - 16px) 1em, calc(100% - 2.1em) 0.5em; 
        background-size: 6px 5px, 5px 5px, 1px 1.8em; 
    }
}
