.log-header { display: flex; justify-content: space-between; align-items: flex-end; width: 100%; margin-bottom: 28px; padding-bottom: 12px; border-bottom: 4px solid #3D3D3D; }
.log-header h3 { font-weight: 700; }
.log-header p { -webkit-text-fill-color: #C3C5C7; color: #C3C5C7; padding-bottom: 4px; }

.log-body { width: 100%; }
.log-body label { margin: 20px 0 10px; font-size: 12px; line-height: 18px; font-weight: 700; -webkit-text-fill-color: #7F7F7F; color: #7F7F7F; }
.log-body h5 { font-weight: 400; margin-bottom: 20px; }
.log-body .post-title { margin-bottom: 8px; padding: 36px 32px; border: 1px solid #C3C5C7; font-size: 18px; font-weight: 500; line-height: 28px; }
.log-body .post-title.pro { -webkit-text-fill-color: #41CC90; color: #41CC90; }
.log-body .post-title.con { -webkit-text-fill-color: #FF725C; color: #FF725C; }
.log-body .background { width: 100%; padding: 20px 24px; border: 1px solid #C3C5C7; }
.log-body .background .comment-header { display: flex; justify-content: flex-start; align-items: flex-end; margin-bottom: 12px; }
.log-body .background .comment-header img { width: 36px; height: 36px; border-radius: 50%; margin-right: 12px; }
.log-body .background .comment-header h6 { font-weight: 500; line-height: 1.2; }

.btn-wrap { margin: 30px -15px 80px; }


@media screen and (max-width: 768px) {
    .log-header { margin-bottom: 20px; padding-bottom: 4px; }

    .log-body label { margin: 0; }
    .log-body .background { margin-top: 8px; padding: 20px 12px; }
    .log-body .post-title { padding: 12px; font-size: 13px; }

    .btn-wrap { margin: 30px -15px 60px; }
}