{% load static %}
<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, shrink-to-fit=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="title" content="채터박스. 2지선다 오지랖 커뮤니티" />
    <meta name="description" content="익명으로 썰을 풀고 찬반으로 나누어 의견을 공유해보세요." />
    <meta name="keywords" content="채터박스, 2지선다, 오지랖, 커뮤니티, 익명, 썰, 찬반, 의견, 공유, chatterbox, chatterboxes">
    <meta property="og:url" content="https://chatterboxes.kr" />
    <meta property="og:type" content="CHATTERBOX" />
    <meta property="og:title" content="채터박스. 2지선다 오지랖 커뮤니티" />
    <meta property="og:description" content="익명으로 썰을 풀고 찬반으로 나누어 의견을 공유해보세요." />
    <meta property="og:image" content="{% static '/img/meta-share.png' %}" />
    <meta property="kaoimg" content="{% static '/img/meta-share.png' %}">
    <meta name="twitter:card" content="CHATTERBOX" />
    <meta name="twitter:title" content="채터박스. 2지선다 오지랖 커뮤니티" />
    <meta name="twitter:description" content="익명으로 썰을 풀고 찬반으로 나누어 의견을 공유해보세요." />
    <meta name="twitter:image" content="{% static '/img/meta-share.png' %}" />
    <meta name="twitter:domain" content="https://chatterboxes.kr" />
    <meta name="google-site-verification" content="Jj0ax6B6vXxcleDtv2Bp9z68zroJo0mMx-xnwVykN_k" />
    <meta name="naver-site-verification" content="b3c819d9813b547f4a174e4d5071dac913db8a21" />

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" href="{% static '/img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&amp;subset=korean" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block customCSS %}{% endblock %}
    <script src="{% static 'js/include/jquery-3.2.1.min.js' %}"></script>
</head>

<body>
    {% include 'include/navbar.html' %}

    {% include 'include/slide_menu.html' %}

    <div id="content">
        <div class="container">
            {% block content %}

            {% endblock %}
        </div>
    </div>

    {% include 'include/footer.html' %}

    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    {% block customJS %}{% endblock %}
    {% if messages %}
    {% include 'include/modal.html' with modal_id='alertModal' %}

    {% for message in messages %}
    {% if forloop.first %}
    <div class="d-none message">{{ message }}</div>
    {% endif %}
    {% endfor %}

    <script>
        var message = $('.message').text();
        $('#alertModal .modal-body').html(message);
        $('#alertModal').modal('show');
        setTimeout(function () { $('#alertModal').modal('hide') }, 3000);
    </script>
    {% endif %}
</body>

</html>