{% extends 'base.html' %}
{% load static  %}

{% block customCSS %}
	<link rel="stylesheet" href="{% static 'css/post/post_list.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
		{% include 'include/category.html' %}
		{% include 'include/sort.html' %}
	</div>

	<div class="row m60">
        {% if post_set %}
			<div class="columns">
	            {% for post in post_set %}
	                {% include 'include/post.html' %}
	            {% endfor %}
			</div>
		{% else %}
			<div class="container text-center m-5 p-5"><h2>아직 게시물이 없습니다..</h2></div>
        {% endif %}
    </div>


{% endblock %}
