{% extends 'base.html' %}
{% load static %}

{% block customCSS %}
<link rel="stylesheet" href="{% static 'css/include/categories.css' %}" />
<link rel="stylesheet" href="{% static 'css/include/sorts.css' %}" />
<link rel="stylesheet" href="{% static 'css/post/post_list.css' %}" />
{% endblock %}

{% block content %}
<div class="row">
    {% include 'include/category.html' %}
    {% include 'include/sort.html' %}
</div>

<div class="row justify-content-center p-0">
    {% if post_set %}
    <div class="infinite-container columns col-12 p-0 m60">
        {% for post in post_set %}
        <figure id="post-{{ post.pk }}" class="infinite-item">
            {% include 'include/post.html' %}
        </figure>
        {% endfor %}
    </div>
    {% else %}
    <div class="container text-center my-5 py-5">
        <h3>아직 게시물이 없습니다..</h3>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block customJS %}
<script src="{% static 'js/post/easy_pie_chart.js' %}"></script>
<script src="{% static 'js/post/post_detail.js' %}"></script>
{% endblock %}