{% load static %}
<div class="comment-update form-wrap">
	{% if type == 'PRO' %}
		{{ pro_comment_form.content }}
		<button id="btn-clear-{{ pro_comment.pk }}" class="btn btn-line clear-btn">취소하기</button>
		<button id="btn-update-{{ pro_comment.pk }}" class="btn btn-fill">수정하기</button>

		<script type="text/javascript">
			$('#btn-update-{{ pro_comment.pk }}').click(function () {
				var content = $('.comment-update textarea').val();
				$.ajax({
					type: 'POST',
					url: '{% url "comment:pro_comment_update" comment_pk=pro_comment.pk %}',
					data: {
						'content': content,
						'csrfmiddlewaretoken': '{{ csrf_token }}',
					},
					dataType: 'html',
					success: function (data, textStatus, jqXHR) {
						$('#pro-{{ pro_comment.pk }}').load('{% url "comment:pro_comment_detail" comment_pk=pro_comment.pk %}');
					}
				})
			});

			$('#btn-clear-{{ pro_comment.pk }}').click(function () {
				$('#pro-{{ pro_comment.pk }}').load('{% url "comment:pro_comment_detail" comment_pk=pro_comment.pk %}');
			});
		</script>
	{% else %}
		{{ con_comment_form.content }}
		<button id="btn-clear-{{ con_comment.pk }}" class="btn btn-line clear-btn">취소하기</button>
		<button id="btn-update-{{ con_comment.pk }}" class="btn btn-fill">수정하기</button>

		<script type="text/javascript">
			$('#btn-update-{{ con_comment.pk }}').click(function () {
				var content = $('.comment-update textarea').val();
				$.ajax({
					type: 'POST',
					url: '{% url "comment:con_comment_update" comment_pk=con_comment.pk %}',
					data: {
						'content': content,
						'csrfmiddlewaretoken': '{{ csrf_token }}',
					},
					dataType: 'html',
					success: function (data, textStatus, jqXHR) {
						$('#con-{{ con_comment.pk }}').load('{% url "comment:con_comment_detail" comment_pk=con_comment.pk %}');
					}
				})
			});

			$('#btn-clear-{{ con_comment.pk }}').click(function () {
				$('#con-{{ con_comment.pk }}').load('{% url "comment:con_comment_detail" comment_pk=con_comment.pk %}');
			});
		</script>
	{% endif %}
</div>
