{% extends 'base.html' %}
{% load static %}
{% load post_extras %}

{% block title %}Post Detail{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{% static 'css/include/pie_chart.css' %}">
<link rel="stylesheet" href="{% static 'css/post/share.css' %}">
<link rel="stylesheet" href="{% static 'css/post/post_detail.css' %}">
{% endblock %}

{% block content %}
<nav class="lnb navbar">
    <div class="container">
        <a class="nav-icon" href="{% url 'post:post_list' %}"><img class="nav-icon" src="{% static '/img/icons/back.png' %}" /></a>
        <ul class="navbar-nav ml-auto flex-row">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <form action="{% url 'post:post_like_toggle' post_pk=post.pk %}" method="POST">
                    {% csrf_token %}
                    {% if post in user.like_posts.all %}
                    <button class="btn btn-fill">♥ 좋아요</button>
                    {% else %}
                    <button class="btn btn-line">♥ 좋아요</button>
                    {% endif %}
                </form>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link btn btn-line" href="{% url 'member:login' %}?next={{ request.path }}">LOG IN</a>
            </li>
            {% endif %}
            <li class="nav-item"><a class="nav-link btn btn-fill share-trigger" data-toggle="modal" data-target="#shareModal">공유하기</a></li>
        </ul>
    </div>
</nav>


<div class="fixed-share web-block">
    <div class="share-sns">
        <a href="javascript:shareFacebook()">
            <img src="{% static '/img/share-fb.svg' %}" />
        </a>
        <a href="javascript:shareNaver()">
            <img src="{% static '/img/share-naver.svg' %}" />
        </a>
        <a href="javascript:shareKatalk()">
            <img src="{% static '/img/share-kakao.svg' %}" />
        </a>
        <a class="web-block" href="javascript:shareLink()">
            <img src="{% static '/img/share-link.svg' %}" />
        </a>
        <input type="text" value="Copy Url" id="linkInput">
    </div>
</div>

<div class="post-body m60">
    <h2>{{ post.title }}</h2>
    <div class="detail-header">
        <span>{{ post.updated_at }}</span>
        <div class="btn-wrap">
            <form action="{% url 'post:post_like_toggle' post_pk=post.pk %}" method="POST">
                {% csrf_token %}
                {% if post in user.like_posts.all %}
                <button class="btn btn-fill">♥ 좋아요</button>
                {% else %}
                <button class="btn btn-line">♥ 좋아요</button>
                {% endif %}
            </form>

            <div class="share-sns">
                <a href="javascript:shareFacebook()">
                    <img src="{% static '/img/facebook.png' %}" />
                </a>
                <a href="javascript:shareNaver()">
                    <img src="{% static '/img/naver.png' %}" />
                </a>
                <a href="javascript:shareKatalk()">
                    <img src="{% static '/img/kakao.png' %}" />
                </a>
                <a class="web-block" href="javascript:shareLink()">
                    <img src="{% static '/img/clip.png' %}" />
                </a>
                <input type="text" value="Copy Url" id="linkInput">
            </div>
        </div>
    </div>

    <div class="btn btn-full info-btn collapsed" data-toggle="collapse" data-target="#info-toggle">
        <img src="{% static '/img/icons/down.png' %}" />
        <span>방 정보 펼치기</span>
    </div>

    <div class="row detail-info collapse m-0" id="info-toggle">
        <div class="info-left col-md-6">
            <label>Hwo Asked?</label>
            <div class="info-header">
                <img class="profile-image" src="{{ post.author.profile_image.url }}" />
                <h4>{{ post.author }}<br /><span>Joined {{ post.author.date_joined|date:"Y. m. d" }}</span></h4>
            </div>
        </div>

        <div class="info-right col-md-6">
            <label>Conditions</label>
            <div class="conditions-wrap">
                <div class="conditions-item">
                    <img src="{% static '/img/icons/view.png' %}" />
                    <h6>{{ post.view_count }}</h6>
                </div>
                <div class="conditions-item">
                    <img src="{% static '/img/icons/heart-gray.png' %}" />
                    {% with like_count=post.like_users.count %}
                    <h6>{{ like_count }}</h6>
                    {% endwith %}
                </div>
                <div class="conditions-item">
                    <img src="{% static '/img/icons/comment.png' %}" />
                    <h6>{{ post.share_count }}</h6>
                </div>
                <div class="conditions-item">
                    <img src="{% static '/img/icons/share-empty.png' %}" />
                    <h6>{{ post.share_count }}</h6>
                </div>
            </div>

            <label>Hashtags</label>
            <div class="tags-wrap">
                <div class="tag-list">
                    {% for tag in post.tag|split_tags %}
                    <a href="/post/search/?q={{ tag }}">
                        <p class="tag">{{ tag }}</p>
                    </a>
                    {% endfor %}
                </div>
            </div>

            {% if request.user == post.author %}
            <form class="btn-wrap row" action="{% url 'post:post_delete' post.pk %}" method="post">
                {% csrf_token %}
                <div class="col-6"><a class="btn btn-fill btn-full" href="{% url 'post:post_update' post.pk %}" style="border: 0;">수정하기</a></div>
                <div class="col-6"><input class="btn btn-gray btn-full" type="submit" value="삭제하기" onclick="return confirm('정말로 삭제할까요? \n\n게시물을 삭제하시면 해당 게시물의 \n모든 이력도 초기화 됩니다.')"></div>
            </form>
            {% endif %}
        </div>
    </div>

    <hr class="detail-hr m60">

    <div class="detail-body">
        <div class="post-background">{{ post.background|safe|linebreaksbr }}</div>

        {% if post.background_image1 %}
        <div class="thumbnail"><img src="{{ post.background_image1.url }}" /></div>
        {% endif %}
        {% if post.background_image2 %}
        <div class="thumbnail"><img src="{{ post.background_image2.url }}" /></div>
        {% endif %}
        {% if post.background_image3 %}
        <div class="thumbnail"><img src="{{ post.background_image3.url }}" /></div>
        {% endif %}
        {% if post.background_image4 %}
        <div class="thumbnail"><img src="{{ post.background_image4.url }}" /></div>
        {% endif %}
        {% if post.background_image5 %}
        <div class="thumbnail"><img src="{{ post.background_image5.url }}" /></div>
        {% endif %}
    </div>
</div>

<div class="opinion m60">
    <h2>A or B 당신의 생각은?</h2>
</div>

<div class="percent-wrap row p-0">
    <div class="chart">
        <div class="percentage pro-chart" data-percent="{% widthratio post.pro_percent 1 100 %}">
            <span class="pro-title">{% widthratio post.con_percent 1 100 %}</span><sup class="pro-title">%</sup>
        </div>
    </div>
    <div class="chart">
        <div class="percentage con-chart" data-percent="{% widthratio post.con_percent 1 100 %}">
            <span class="con-title">{% widthratio post.con_percent 1 100 %}</span><sup class="con-title">%</sup>
        </div>
    </div>
</div>

{% include 'comment/comment_list.html' %}
{% include 'include/modal.html' with modal_id='shareModal' %}
{% endblock %}

{% block customJS %}
<script src="{% static 'js/include/easy_pie_chart.js' %}"></script>
<script src="{% static 'js/post/post_detail.js' %}"></script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.10/clipboard.min.js"></script>
<script src="{% static 'js/post/share.js' %}"></script>
<script>
    // ADD SHARE COUNT BY JUST CLICK
    $(document).ready(function () {
        $(document).on('click', '.share-sns a', function () {
            $.ajax({ url: "{% url 'post:add_share_count' post.pk %}", });
        });
    });
</script>
{% endblock %}