{% extends 'base.html' %}
{% load static %}

{% block title %}Post create{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{% static 'css/post/post_create.css' %}">
{% endblock %}

{% block content %}
<nav class="lnb navbar">
    <div class="container">
        <a class="nav-icon" href="javascript:history.back()" onclick="return confirm('작성 중인 채터박스를 종료할까요? \n\n종료하시면 작성 중이던 정보가 모두 사라집니다.')"><img
                class="nav-icon" src="{% static '/img/icons/back.png' %}" /></a>
        <h4>채터박스를 작성 중입니다</h4>
        <ul class="navbar-nav flex-row"></ul>
    </div>
</nav>

<div id="create-slider" class="carousel carousel-fade post-create row justify-content-center m60" data-interval="false">
    <form class="carousel-inner col-md-8 m60 p-0" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="carousel-item m60 active">
            <div class="item-header">
                <h3>제목을 입력하세요</h3>
                <ol class="indicators">
                    <li data-target="#create-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#create-slider" data-slide-to="1"></li>
                    <li data-target="#create-slider" data-slide-to="2"></li>
                    <li data-target="#create-slider" data-slide-to="2"></li>
                </ol>
                <div class="clearfix">
                    <a class="control-btn btn btn-gray float-right nextTo2" href="#create-slider" role="button"
                        data-slide="next">다음으로</a>
                </div>
            </div>

            <div class="form-group item-body m60 {{ post_form.title.name }} {% if post_form.title.errors %} has-error {% endif %}">
                {{ post_form.title.label_tag }}
                {{ post_form.title }}
                <h6 id="title_count" class="count">0</h6>
                {% if post_form.title.errors %}
                {% for error in post_form.title.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
                {% endif %}
                <hr />
            </div>

            <div class="item-footer {{ post_form.title.name }}">
                <label>Example</label>
                <img src="/static/img/example-{{ post_form.title.name }}.png" alt="">
            </div>
        </div>

        <div class="carousel-item m60">
            <div class="item-header">
                <h3>배경을 설명해주세요</h3>
                <ol class="indicators">
                    <li data-target="#create-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#create-slider" data-slide-to="1" class="active"></li>
                    <li data-target="#create-slider" data-slide-to="2"></li>
                    <li data-target="#create-slider" data-slide-to="2"></li>
                </ol>
                <div class="clearfix">
                    <a class="btn btn-line float-left" href="#create-slider" role="button" data-slide="prev">이전으로</a>
                    <a class="control-btn btn btn-gray float-right nextTo3" href="#create-slider" role="button"
                        data-slide="next">다음으로</a>
                </div>
            </div>

            <div class="form-group item-body m60 {{ post_form.background.name }} {% if post_form.background.errors %} has-error {% endif %}">
                {{ post_form.background.label_tag }}
                {{ post_form.background }}
                <h6 id="background_count" class="count">0</h6>
                {% if post_form.background.errors %}
                {% for error in post_form.background.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
                {% endif %}

                <div class="form-group hide1">
                    <div class="fake-btns fake-btn1">
                        <h6>배경 설명 이미지를 업로드 하려면 클릭하세요.</h6>
                        <h6>(배경 설명 이미지)</h6>
                        <img id="previewHolder1" />
                    </div>
                    {% if post_form.background_image1.errors %}
                    {% for error in post_form.background_image1.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ post_form.background_image1 }}
                </div>

                <div class="form-group hidden hide2">
                    <div class="fake-btns fake-btn2">
                        <h6>배경 설명 이미지를 업로드 하려면 클릭하세요.</h6>
                        <h6>(배경 설명 이미지)</h6>
                        <img id="previewHolder2" />
                    </div>
                    {% if post_form.background_image2.errors %}
                    {% for error in post_form.background_image2.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ post_form.background_image2 }}
                </div>

                <div class="form-group hidden hide3">
                    <div class="fake-btns fake-btn3">
                        <h6>배경 설명 이미지를 업로드 하려면 클릭하세요.</h6>
                        <h6>(배경 설명 이미지)</h6>
                        <img id="previewHolder3" />
                    </div>
                    {% if post_form.background_image3.errors %}
                    {% for error in post_form.background_image3.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ post_form.background_image3 }}
                </div>

                <div class="form-group hidden hide4">
                    <div class="fake-btns fake-btn4">
                        <h6>배경 설명 이미지를 업로드 하려면 클릭하세요.</h6>
                        <h6>(배경 설명 이미지)</h6>
                        <img id="previewHolder4" />
                    </div>
                    {% if post_form.background_image4.errors %}
                    {% for error in post_form.background_image4.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ post_form.background_image4 }}
                </div>

                <div class="form-group hidden hide5">
                    <div class="fake-btns fake-btn5">
                        <h6>배경 설명 이미지를 업로드 하려면 클릭하세요.</h6>
                        <h6>(배경 설명 이미지)</h6>
                        <img id="previewHolder5" />
                    </div>
                    {% if post_form.background_image5.errors %}
                    {% for error in post_form.background_image5.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ post_form.background_image5 }}
                </div>

                <hr />
            </div>

            <div class="item-footer {{ post_form.background.name }}">
                <label>Example</label>
                <img src="/static/img/example-{{ post_form.background.name }}.png" alt="">
            </div>
        </div>

        <div class="carousel-item m60">
            <div class="item-header">
                <h3>선택지를 입력해주세요</h3>
                <ol class="indicators">
                    <li data-target="#create-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#create-slider" data-slide-to="1" class="active"></li>
                    <li data-target="#create-slider" data-slide-to="2" class="active"></li>
                    <li data-target="#create-slider" data-slide-to="2"></li>
                </ol>
                <div class="clearfix">
                    <a class="btn btn-line float-left" href="#create-slider" role="button" data-slide="prev">이전으로</a>
                    <a class="control-btn btn btn-gray float-right nextTo4" href="#create-slider" role="button"
                        data-slide="next" disabled>다음으로</a>
                </div>
            </div>

            <div class="item-body m60 {{ post_form.con_title.name }}{% if post_form.pro_title.errors %} has-error {% endif %}{% if post_form.con_title.errors %} has-error {% endif %}">
                <label>Decision</label>
                <div class="form-group">
                    {{ post_form.pro_title }}
                    <h6 id="pro_title_count" class="count">0</h6>
                    {% if post_form.pro_title.errors %}
                    {% for error in post_form.pro_title.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ post_form.con_title }}
                    <h6 id="con_title_count" class="count">0</h6>
                    {% if post_form.con_title.errors %}
                    {% for error in post_form.con_title.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <hr />
            </div>

            <div class="item-footer {{ post_form.con_title.name }}">
                <label>Example</label>
                <img src="/static/img/example-{{ post_form.con_title.name }}.png" alt="">
            </div>
        </div>

        <div class="carousel-item m60">
            <div class="item-header">
                <h3>옵션을 선택해주세요</h3>
                <ol class="indicators">
                    <li data-target="#create-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#create-slider" data-slide-to="1" class="active"></li>
                    <li data-target="#create-slider" data-slide-to="2" class="active"></li>
                    <li data-target="#create-slider" data-slide-to="2" class="active"></li>
                </ol>
                <div class="clearfix">
                    <a class="btn btn-line float-left" href="#create-slider" role="button" data-slide="prev">이전으로</a>
                    <button class="btn btn-gray float-right last" type="submit" disabled>게시하기</button>
                </div>
            </div>

            <div class="item-body m60 {{ post_form.background.name }}">
                <div class="form-group">
                    {{ post_form.category.label_tag }}
                    {{ post_form.category }}
                    {% if post_form.category.errors %}
                    {% for error in post_form.category.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group m60">
                    <label>Hashtags</label>
                    {{ post_form.tag }}
                    {% if post_form.tag.errors %}
                    {% for error in post_form.tag.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <hr />
            </div>

            <div class="item-footer">
                <label>Example</label>
                <img src="/static/img/example-thumbnail.png" alt="">
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block customJS %}
<script src="{% static 'js/include/image_preview.js' %}"></script>
<script src="{% static 'js/post/post_create.js' %}"></script>
{% endblock %}