{% extends 'base.html' %}
{% load static %}

{% block title %}Post modify{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{% static 'css/post/post_create.css' %}">
{% endblock %}

{% block content %}
<nav class="lnb navbar">
    <div class="container">
        <a class="nav-icon" href="javascript:history.back()"><img class="nav-icon" src="{% static '/img/icons/back.png' %}" /></a>
        <h4>채터박스를 수정 중입니다</h4>
        <ul class="navbar-nav flex-row"></ul>
    </div>
</nav>

<div id="create-slider" class="carousel carousel-fade post-create row justify-content-center m60" data-interval="false">
    <form class="carousel-inner col-md-8 m60 p-0" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="carousel-item m60 active">
            <div class="item-header">
                <h3>제목을 입력하세요</h3>
                <ol class="indicators">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ol>
                <div class="clearfix">
                    <a class="btn btn-fill float-right nextTo2" href="#create-slider" role="button" data-slide="next">다음으로</a>
                </div>
            </div>

            <div class="form-group item-body m60 {{ post_form.title.name }} {% if post_form.title.errors %} has-error {% endif %}">
                {{ post_form.title.label_tag }}
                {{ post_form.title }}
                <h6 id="title_count" class="count">0</h6>
                {% if post_form.title.errors %}
                {% for error in post_form.title.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
                {% endif %}
                <hr />
            </div>

            <div class="item-footer {{ post_form.title.name }}">
                <label>Example</label>
                <img src="/static/img/example-1.png" alt="">
            </div>
        </div>

        <div class="carousel-item m60">
            <div class="item-header">
                <h3>배경을 설명해주세요</h3>
                <ol class="indicators">
                    <li class="active"></li>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                </ol>
                <div class="clearfix">
                    <a class="btn btn-line float-left" href="#create-slider" role="button" data-slide="prev">이전으로</a>
                    <a class="btn btn-fill float-right nextTo3" href="#create-slider" role="button" data-slide="next">다음으로</a>
                </div>
            </div>

            <div class="form-group item-body m60 {{ post_form.background.name }} {% if post_form.background.errors %} has-error {% endif %}">
                {{ post_form.background.label_tag }}
                {{ post_form.background }}
                <h6 id="background_count" class="count">0</h6>
                {% if post_form.background.errors %}
                {% for error in post_form.background.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
                {% endif %}

                <div class="form-group hide1">
                    <div class="fake-btns fake-btn1">
                        <h6>배경 설명 이미지를 업로드 하려면 클릭하세요.</h6>
                        <h6>(배경 설명 이미지)</h6>
                        <img id="previewHolder1" />
                    </div>
                    {% if post_form.background_image1.errors %}
                    {% for error in post_form.background_image1.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group origin1">
                    {{ post_form.background_image1 }}
                </div>

                <div class="form-group hidden hide2">
                    <div class="fake-btns fake-btn2">
                        <h6>배경 설명 이미지를 업로드 하려면 클릭하세요.</h6>
                        <h6>(배경 설명 이미지)</h6>
                        <img id="previewHolder2" />
                    </div>
                    {% if post_form.background_image2.errors %}
                    {% for error in post_form.background_image2.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group origin2">
                    {{ post_form.background_image2 }}
                </div>

                <div class="form-group hidden hide3">
                    <div class="fake-btns fake-btn3">
                        <h6>배경 설명 이미지를 업로드 하려면 클릭하세요.</h6>
                        <h6>(배경 설명 이미지)</h6>
                        <img id="previewHolder3" />
                    </div>
                    {% if post_form.background_image3.errors %}
                    {% for error in post_form.background_image3.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group origin3">
                    {{ post_form.background_image3 }}
                </div>

                <div class="form-group hidden hide4">
                    <div class="fake-btns fake-btn4">
                        <h6>배경 설명 이미지를 업로드 하려면 클릭하세요.</h6>
                        <h6>(배경 설명 이미지)</h6>
                        <img id="previewHolder4" />
                    </div>
                    {% if post_form.background_image4.errors %}
                    {% for error in post_form.background_image4.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group origin4">
                    {{ post_form.background_image4 }}
                </div>

                <div class="form-group hidden hide5">
                    <div class="fake-btns fake-btn5">
                        <h6>배경 설명 이미지를 업로드 하려면 클릭하세요.</h6>
                        <h6>(배경 설명 이미지)</h6>
                        <img id="previewHolder5" />
                    </div>
                    {% if post_form.background_image5.errors %}
                    {% for error in post_form.background_image5.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group origin5">
                    {{ post_form.background_image5 }}
                </div>

                <hr />
            </div>

            <div class="item-footer {{ post_form.background.name }}">
                <label>Example</label>
                <img src="/static/img/example-2.png" alt="">
            </div>
        </div>

        <div class="carousel-item m60">
            <div class="item-header">
                <h3>선택지를 입력해주세요</h3>
                <ol class="indicators">
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                    <li></li>
                </ol>
                <div class="clearfix">
                    <a class="btn btn-line float-left" href="#create-slider" role="button" data-slide="prev">이전으로</a>
                    <a class="btn btn-fill float-right nextTo4" href="#create-slider" role="button" data-slide="next"
                        disabled>다음으로</a>
                </div>
            </div>

            <div class="item-body m60 {{ post_form.con_title.name }}{% if post_form.pro_title.errors %} has-error {% endif %}{% if post_form.con_title.errors %} has-error {% endif %}">
                <label>Decision</label>
                <div class="form-group">
                    {{ post_form.pro_title }}
                    <h6 id="pro_title_count" class="count">0</h6>
                    {% if post_form.pro_title.errors %}
                    {% for error in post_form.pro_title.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ post_form.con_title }}
                    <h6 id="con_title_count" class="count">0</h6>
                    {% if post_form.con_title.errors %}
                    {% for error in post_form.con_title.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <hr />
            </div>

            <div class="item-footer {{ post_form.con_title.name }}">
                <label>Example</label>
                <img src="/static/img/example-3.png" alt="">
            </div>
        </div>

        <div class="carousel-item m60">
            <div class="item-header">
                <h3>옵션을 선택해주세요</h3>
                <ol class="indicators">
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                </ol>
                <div class="clearfix">
                    <a class="btn btn-line float-left" href="#create-slider" role="button" data-slide="prev">이전으로</a>
                    <button class="btn btn-fill float-right last" type="submit">게시하기</button>
                </div>
            </div>

            <div class="item-body m60 {{ post_form.background.name }}">
                <div class="form-group">
                    {{ post_form.category.label_tag }}
                    {{ post_form.category }}
                    {% if post_form.category.errors %}
                    {% for error in post_form.category.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group m60">
                    <label>Hashtags</label>
                    {{ post_form.tag }}
                    {% if post_form.tag.errors %}
                    {% for error in post_form.tag.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <hr />
            </div>

            <div class="item-footer">
                <label>Example</label>
                <img src="/static/img/example-4.png" alt="">
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block customJS %}
<script src="{% static 'js/include/image_preview.js' %}"></script>
<script src="{% static 'js/post/post_create.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.nextTo2').click(function () {
            for (var counter = 1; counter < 6; counter++) {
                if ($('.origin' + counter + ' a').length) {
                    $('.hide' + counter).show();
                    var thumbPath = $('.origin' + counter + ' a').attr('href');
                    $('#previewHolder' + counter).attr('src', thumbPath);

                    $('.hide' + counter).prepend('<span class="del-image del-' + counter + '">&times;</span>');
                    $('.fake-btn' + counter + ' h6').css('display', 'none');
                    var nextNum = counter + 1;
                    $('.hide' + nextNum).css('display', 'block');
                }
            }
        });

        $('#title_count').text($('#id_title').val().length);
        $('#background_count').text($('#id_background').val().length);
        $('#pro_title_count').text($('#id_pro_title').val().length);
        $('#con_title_count').text($('#id_con_title').val().length);
    });
</script>
{% endblock %}