{% extends 'base.html' %}
{% load static %}

{% block title %}게시물 목록{%endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{% static 'css/include/categories.css' %}" />
<link rel="stylesheet" href="{% static 'css/include/sorts.css' %}" />
<link rel="stylesheet" href="{% static 'css/post/post_list.css' %}" />
{% endblock %}

{% block content %}
<div class="row">
    {% include 'include/category.html' %}
    {% include 'include/sort.html' %}
</div>

<div class="row m60">
    <div class="columns">
        {% for post in posts %}
        {% include 'include/post.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block customJS %}
<script src="{% static 'js/post/easy_pie_chart.js' %}"></script>
<script src="{% static 'js/post/post.js' %}"></script>
{% endblock %}