{% extends 'base.html' %}
{% load static %}

{% block title %}Search{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{% static 'css/include/categories.css' %}" />
<link rel="stylesheet" href="{% static 'css/include/sorts.css' %}" />
<link rel="stylesheet" href="{% static 'css/include/pie_chart.css' %}">
<link rel="stylesheet" href="{% static 'css/post/post_list.css' %}" />
<link rel="stylesheet" href="{% static 'css/post/search.css' %}">
{% endblock %}

{% block content %}
<div class="row form-group">
    <form id="search" action="" method="get">
        <img id="search-icon" class="search-icon" src="{% static 'img/icons/search-fill.svg' %}" alt="">
        <input id="search-value" class="form-control" type="text" placeholder="키워드, #hashtag" name="q" value="{{ q }}">
        <img id="search-reset" class="search-icon" src="{% static 'img/icons/close-fill.svg' %}" alt="">
        <button id="search-submit" class="btn btn-line" type="submit">검색</button>
    </form>
</div>

{% if q %}
{% if posts %}
<div class="row m60">
    <div class="search-header">
        <h4>ALL CATEGORY<span>({{ posts.count }})</span></h4>
    </div>

    <hr class="search-divider" />
</div>

<div class="row justify-content-center p-0">
    <div class="infinite-container columns col-12 p-0 m60">
        {% for post in posts %}
        <figure id="post-{{ post.pk }}" class="infinite-item">
            {% include 'include/post.html' %}
        </figure>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="web-block p60"></div>
<div class="search-empty m60">
    <h3>검색 결과가 없습니다.</h3>
    <img src="{% static 'img/search-empty.png' %}" alt="">
</div>
{% endif %}
{% else %}
<div class="tag-wrap row p-0 m60">
    <div class="search-header">
        <h4>인기 있는 #hashtag</h4>
    </div>
    <div class="tag-list col-md-6 p-0">
        <span class="tag">제가</span>
        <span class="tag">잘못한</span>
        <span class="tag">일인지</span>
        <span class="tag">객관적인</span>
        <span class="tag">시선에서</span>
        <span class="tag">보고</span>
        <span class="tag">제가</span>
        <span class="tag">잘못한</span>
        <span class="tag">일인지</span>
        <span class="tag">객관적인</span>
        <span class="tag">시선에서</span>
        <span class="tag">보고</span>
        <span class="tag">제가</span>
        <span class="tag">잘못한</span>
        <span class="tag">일인지</span>
        <span class="tag">객관적인</span>
        <span class="tag">시선에서</span>
        <span class="tag">보고</span>
        <span class="tag">제가</span>
        <span class="tag">잘못한</span>
        <span class="tag">일인지</span>
        <span class="tag">객관적인</span>
        <span class="tag">시선에서</span>
        <span class="tag">보고</span>
    </div>
</div>
{% endif %}
{% endblock %}

{% block customJS %}
<script src="{% static 'js/include/easy_pie_chart.js' %}"></script>
<script src="{% static 'js/post/post_detail.js' %}"></script>
<script src="{% static 'js/post/search.js' %}"></script>
{% endblock %}