{% extends 'base.html' %}
{% load static %}

{% block title %}Search{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{% static 'css/include/categories.css' %}" />
<link rel="stylesheet" href="{% static 'css/include/sorts.css' %}" />
<link rel="stylesheet" href="{% static 'css/include/pie_chart.css' %}">
<link rel="stylesheet" href="{% static 'css/post/post_list.css' %}" />
<link rel="stylesheet" href="{% static 'css/post/search.css' %}">
{% endblock %}

{% block content %}
<div class="row form-group">
    <form id="search" action="" method="get">
        <img id="search-icon" class="search-icon" src="{% static 'img/icons/search-fill.svg' %}" alt="">
        <input id="search-value" class="form-control" type="text" placeholder="키워드, #hashtag" name="q" value="{{ q }}">
        <img id="search-reset" class="search-icon" src="{% static 'img/icons/close-fill.svg' %}" alt="">
        <button id="search-submit" class="btn btn-line" type="submit">검색</button>
    </form>
</div>

{% if q %}
{% if posts %}
<div class="row m60">
    <div class="search-header">
        <h4>ALL CATEGORY<span>({{ search_count }})</span></h4>
        <hr class="search-divider" />
    </div>
</div>

<div class="grid row m60">
    {% for post in posts %}
    <div id="post-{{ post.pk }}" class="grid-item">
        {% include 'include/post.html' %}
    </div>
    {% endfor %}
</div>

{% else %}
<div class="web-block p60"></div>
<div class="search-empty m60">
    <h3>검색 결과가 없습니다.</h3>
    <img src="{% static 'img/search-empty.png' %}" alt="">
</div>
{% endif %}
{% else %}
<div class="tag-wrap row m60">
    <div class="search-header">
        <h4>인기 있는 #hashtag</h4>
    </div>
    <div class="tag-list col-md-6">
        {% for tag in tags %}
        <a class="tag" href="/post/search/?q={{ tag.name }}">{{ tag.name }}</a>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}

{% block customJS %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<script src="{% static 'js/post/search.js' %}"></script>
<script src="{% static 'js/include/easy_pie_chart.js' %}"></script>
<script src="{% static 'js/post/post_detail.js' %}"></script>
<script>
    var $grid = $('.grid').masonry({
        gutter: 15,
        horizontalOrder: true,
        itemSelector: '.grid-item',
    });

    $(document).ready(function () {
        $('.grid').masonry();
    });
</script>
{% endblock %}