{% load static %}
<div class="share-sns">
    <a href="javascript:shareFacebook()">
        <img src="{% static '/img/share-fb.svg' %}" />
    </a>

    <a href="javascript:shareNaver()">
        <img src="{% static '/img/share-naver.svg' %}" />
    </a>

    <a href="javascript:shareKatalk()">
        <img src="{% static '/img/share-kakao.svg' %}" />
    </a>

    <a href="javascript:shareLink()">
        <img src="{% static '/img/share-link.svg' %}" />
    </a>
    <input type="text" value="Copy Url" id="linkInput">
</div>